[submodule "bundle/delimitmate"]
	path = bundle/delimitmate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/irblack-color"]
	path = bundle/irblack-color
	url = git://github.com/wgibbs/vim-irblack.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/mru"]
	path = bundle/mru
	url = git://github.com/vim-scripts/mru.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/php-indent"]
	path = bundle/php-indent
	url = git://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/drupal-snippets"]
	path = bundle/drupal-snippets
	url = git@github.com:grndlvl/drupal-snippets.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "profiles/python/bundles/pydoc.vim"]
	path = profiles/python/bundles/pydoc.vim
	url = git://github.com/vim-scripts/pydoc.vim.git
[submodule "profiles/python/bundles/pyflakes"]
	path = profiles/python/bundles/pyflakes
	url = git://github.com/vim-scripts/pyflakes.git
